@tailwind base;
@tailwind components;
@tailwind utilities;

.calcHeight {
  height: calc(100vh - 71px);
}

.glow {
  animation: move 10s linear infinite;
  offset-path: rect(0% auto 100% auto);
  background: radial-gradient(#fff, #f1f5f9, transparent);
}

.linkCard {
  display: grid;
  grid-template-columns: 
    repeat(
      auto-fit,
      minmax(300px, 1fr)
    );
  gap: 30px;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}

